[Desktop Entry]
Name=DowTube
Exec=/usr/bin/python /mnt/C8625EE8625EDAB0/DowTube/DowTube.py
Icon=/mnt/C8625EE8625EDAB0/DowTube/youtube.png
Terminal=false
Type=Application
Categories=Utility;
